/*字體顏色*/
body {
    --green:#4BA87D;
    --hoverGreen:rgb(43, 214, 135);
}

/*any-link 代表點擊前和點擊後*/
a,a:hover,a:any-link,a:active {
    text-decoration: none;
    color:inherit
}

/*BS 預設沒有 負數的margin*/

#wrapper {
    background-image: url(./asset/bg-mobile.png); /*給手機用的背景*/
    background-repeat: no-repeat;
}

/*字體*/
h1,span {
    font-family: 'Playfair Display',sans-serif;
    font-weight: 900;
}
a,input,p,li,h2{
    font-family: 'Raleway',sans-serif;
}

/*Hero,Email區 固定大小的按鈕*/
.reusable-button {
    padding: 0;
    border-radius: 0;
    max-width: 143px;
    width: 48%;
    max-height: 40px;
    line-height: 3.1; /*用來垂直置中*/
    font-size: 13px;
    font-weight: 900;
}
.reusable-button:hover {
    transform: scale(1.2);
}
/*NavBar*/
.navbar {
    background-color: white;
}

.navbar-brand span {
    /*手機用*/
    font-family:'Raleway',sans-serif;;
    font-size: 22px;
    line-height: 26px;
    margin-left:-18px
}
.brand-logo {
    vertical-align: -12px;
    width: 84px; /*給手機用的 比較小*/
    margin-left:-25px ; /*拉近圖與字的紀離 因為bs預設沒有 負數margin*/
    margin-bottom: -3px;
}
.nav-link {
    font-weight: 800;
}
.nav-link {
    position: relative;
}

.nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: var(--green);
}
.nav-btn>a{
    width: 104px;
    height: 25px;
    border-radius: 0;
    background-color:var(--green);
    font-size: 11px;
    line-height: 26px;
    font-weight: 800;
    color: white;
}
.nav-btn>a:hover {
    transform: scale(1.2);
}

/*wrapper 背景位置*/
#wrapper {
    /*css變數不能儲存會變化的元素寬高*/
    margin-top:66px;
    background-position: top center;
}

/* hero 主頁 css*/

.text-stack h1{
    /*手機用*/
    font-size: 36px;
    line-height: 46px;
}
.text-stack p {
    margin-top: 30%;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.hero .container-fluid {
    /*手機用*/
    height: 330px;
}


.hero img {
    z-index: 0;
    max-width: 445px;
    width: 100%;
    top:13%;
    left:.5%;
}
.hero .text-stack {
    z-index: 1;
}
.text-stack .reusable-button {
    border:var(--green) 1px solid;
    background-color:var(--green);
    color: white;
}
.text-stack a:last-child {
    background-color:white;
    border:var(--green) 1px solid;
    color:var(--green);
}

/* video section css*/

/*給不同section一點空間*/
.video {
    margin-top: 10%;
    margin-bottom: 10%;
}

.video h1{
    /*手機用*/
    /*想在breakpoint 之前變化字體大小*/
    font-size: 8vw;
    line-height: 29px;
    color:white;
    margin-bottom: 5vw;
}
/*原稿的320px版本，字太小*/
.video a {
    width: 25vw;
    height: 8vw;
    border:var(--green) 1px solid;
    color:var(--green);
    background-color: white;
    font-size: 3vw;
    font-weight: 900;
    line-height: 2.8;
}
.video a:hover {
    transform: scale(1.2);
}
/*intro section css*/
.card {
    width:210px;
    /*固定寬高*/
    height: 330px;
    border-radius: 0;
}
.card1 {
    float:left;
}
.card2 {
    float:right;
}
.card-img-top {
    border-radius: 0;
}
.card p {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}
.card a {
    font-size: 12px;
    font-weight: 800;
    line-height: 14px;
    color: var(--green);
}
.card a:hover {
    color:var(--hoverGreen);
}
.intro-text {
    clear: both;
}

.intro-text h1{
    font-size: 28px;
    line-height: 31px;
}
.intro-text p {
    font-family:'Raleway' sans-serif ;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

/*member section css*/
.member img {
    max-width: 100%;
}
.member .memberName {
    color:white; 
    left: 1rem;
    bottom: .3rem;
}
.memberName h2{
    font-size: 22px;
    font-weight: 900;
    line-height: 26px;
}
.memberName p {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
}
/*email-form css*/
.email-form {
    /*手機用*/
    margin-top: 80px;
}

.email-form h1 {
    font-family: Playfair Display;
    font-size: 26px;
    font-weight: 900;
    line-height: 36px;
}

.email-form p {
    margin-bottom: -13px;
    margin-top: 2px;
    color: var(--green);
}

.email-form .reusable-button {
    background-color: var(--green);
    color: white;
    font-size: 13px;
    font-weight: 900; 
    margin-top: 15px; /*按照手機板*/
} 
/*companies section  css*/
.companies {
    margin-top: 80px;
}
.companies div h1 {
    font-family: 'Playfair Display' sans-serif;
    font-size: 28px;
    font-weight: 900;
    line-height: 36px;
}
.companies img {
    max-width: 120px;
    object-fit:contain;
}

/*today section css*/

/*需要JS才能用一個在firefox裡頭 a改變所有元素的css*/
.today {
    background-color: var(--green);
    height: 290px;
}

.today h1 {
    color:white;
    font-family: Playfair Display;
    font-size: 42px;
    font-weight: 900;
    line-height: 48px;
}
.today a {
    background-color: white;
    color:var(--green);
    width: 130px;
    height: 41px;
    font-size: 13px;
    font-weight: 900;
    line-height: 2.5rem;
}
.today a:hover {
    transform: scale(1.2);
}
/*firefox 不支援*/
h1:has(+a:hover) {
    transform: scale(1.2);
}

/*footer css*/
.footer-brand {
    margin-bottom: 5px;
}

.footer-brand span{
    font-size: 22px;
    line-height: 26px;
    margin-left:-18px
}
.footer-brand .brand-logo {
    width: 84px; /*手機用*/
}
.footer .mobile-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.footer .mobile-grid-margin-1 {
    margin-top: -2.5rem;
}
.footer .mobile-grid-margin-2 {
    margin-top: -1rem;
}
.footer li {
    font-family: Raleway;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
}
.footer .policies {
    border-top: 1px solid #DBDBDB;
}
.footer .policies p,.policies a {
    font-family: Raleway;
    font-size: 9px;
    font-weight: 700;
    line-height: 19px;
}
.footer li>a:hover,.policies>a:hover {
    color:var(--hoverGreen);
}

@media screen and (min-width:768px) {
    #wrapper{
    background-image: url(./asset/bg-tablet.png);
    background-position: top center;
    }
        /*nav*/
        .nav-link {
            font-size: 13px;
        }
        /*hero*/
        .text-stack {
            width: 46%;
            font-size: 12px;
            line-height: 16px;
        }
        .hero img {
            left:40vw;
        }
        /*video*/
        .video h1{
            font-size: 6vw;
        }
        .video a {
            width: 24vw;
            height: 5vw;
            font-size: 2vw;
            line-height: 2.6;
            max-width: 15vw;
        }
        /*intro*/
        .card {
            float: none;
            width: 25%;
            height: auto;
        }
        .card1{
            margin-top: -5vw !important;
        }
        .intro-text {
            width: 40%;
        }
        /*member*/
        .member div.position-relative {
            margin-left: 1vw;
            margin-right: 1vw;
            flex-grow: 0;
        }
        /*email-form*/ 
        .email-form  h1{
            width: 70%;
            font-size: 28px;
            line-height: 36px;
            text-align: center;
            max-width: 578px;
        }
        .email-form input {
            min-width: 275px;
        }
        .email-form .reusable-button {
            margin-top: 0;
        }
        .email-form #hidden-Msg {
            font-size: 13px;
            line-height: 15px;
        }
        /*companies*/ 
        .companies h1{
            font-size: 28px;
            line-height: 36px;
            display: inline-block;
            max-width: 250px;
        }
        /*today*/
        .today  h1{
            font-size: 42px;
            line-height: 56px;
        }
        /*footer*/
        .footer-brand {
            width: 50%; 
        }
        .footer .mobile-grid {
            width: 100%;
            grid-template-columns: repeat(4,1fr)        
        }
        .footer ul {
            order:unset !important;
        }
}
@media screen and (min-width:1200px) {
    #wrapper{
    background-image: url(./asset/bg-desktop.png);
    background-position: top center;
    }
    /*navbar*/
    .navbar-brand {
        font-size: 35px;
        line-height: 41px;
    }
    .nav-btn a {
        font-size: 17px;
        line-height: 20px;
    }
    .nav-link {
        font-size: 17;
        line-height: 20px;
    }
    /*hero*/
    .hero p {

    }
}